{% extends "layout.html" %}

    {% block content %}

    <div class="search_wrap search_wrap_4">
        <div class="search_box">
            <div class="btn btn_common">
                <i class="fas fa-search"></i>
            </div>
            <input type="text" class="input" placeholder="Buscar historial de un paciente">
        </div>
    </div>
    
    <h1 class="resultados">RESULTADOS</h1>
    
    <h1 class="titulo1">Informacion que es recogina</h1>
    
    <p class="contenidodetitulo">Nuestro sitio wed podra recoger informacion<br>
        personal por ejemplo: Nombre, informacion de<br>
        contactos como su direccion de correo electronico<br>
        e informacion demografica. Asi mismo cuando<br>
        sea necesario podra ser requerida informacion<br>
        especifica para procesar algun pedido o realizar<br>
        una entrega o facturacion.</p>
    
    <a class="botonbuscar" href="/nuevos_datos">AGREGAR DATOS DE CLIENTES</a>
    {% endblock %}